<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>{{title}}</h1>
  <h1>{{name ? name :"Not found"}}</h1>
  <img src="{{imagePath}}">
  <h1>{{getFunction()}}</h1>
  <button [disabled]=isDisabled>Click here</button>
  <button disabled="{{isDisabled}}">Click here</button> <!--interpolation will not work for property binding--> 
  <!-- <span bind-innerHTML = 'title'></span><!--bind-innerHTML is the conical from of defining property binding--> 
  <!-- <h1 bind-innerHTML='badhtml'></h1><!--will sanitized malicious data--> 
  <!-- <h1>{{badhtml}}</h1><!--will not sanitized malicious data--> 
  <app-home></app-home>
  <!-- <input id="inputId" type="text" value="Pampa"> -->
